<style><%= render 'popup.css' %></style>

<div id="main-joltify-popup" class="joltify-popup">
  <iframe src="<%= proxy_shop_frame_path %>" frameBorder="0"></iframe>
</div>

<a class="navbar-brand text-center" href="javascript:void(0);" onclick="openNav()">Spin the wheel</a>
