<style><%= render 'popup.css' %></style>
<style>
  #main-joltify-popup {
    background-color: <%= @wheel.popup_background_color %>;
  }
</style>

<div id="joltify-popup-background"></div>

<iframe id="main-joltify-popup" src="<%= proxy_shop_frame_path %>" frameBorder="0"></iframe>

<a class="navbar-brand text-center" href="javascript:void(0);" onclick="openNav()">Spin the wheel</a>
