<div class="row mb-5">
  <div class="col-12 col-sm-3">
    <h3><%= locals[:title] %></h3>
    <p><%= locals[:description] %></p>
  </div>
  <div class="col-12 col-sm-9">
    <%= yield %>
  </div>
</div>
