<footer class="mt-auto p-2">
  <div class="row text-center">
    <div class="col">
      <small>
        Copyright &copy; <%= Date.today.year %> Jolted
      </small>
    </div>
    <div class="col">
      <small>
        <%= link_to 'Privacy', root_path %>
      </small>
    </div>
    <div class="col">
      <small>
        <%= link_to 'Terms', root_path %>
      </small>
    </div>
  </div>
</footer>
