<div class="card">
  <h5 class="card-header">My Prize Wheel</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <%= link_to 'Edit', edit_wheel_path, class: 'btn btn-primary' %>
  </div>
</div>
