.custom-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wheel-canvas {
  width: 50vh;
  transform: rotate(90deg);
}

.wheel-column {
  flex: 0 0 50%;
  align-items: center;
  text-align: center;
}

.form-column {
  flex: 0 0 50%;
  padding: 0 45px 10px 45px;
  text-align: center;
}

.popup-header {
  font-size: 2rem;
}

@media (min-aspect-ratio: 4/3) {
  .custom-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .wheel-column {
    flex: 0 0 50%;
  }
  
  .form-column {
    flex: 0 0 50%;
    padding: 45px;
  }
  
  .wheel-canvas {
    width: 100vh;
    position: fixed;
    left: -30vh;
    top: 0;
    transform: rotate(90deg);
  }

  .popup-header {
    font-size: 2.5rem;
  }
}
