footer {
  background-color: rgba(0,0,0,.05);
  font-size: .875em;
  color: #6c757d !important;
}

footer a {
  color: #6c757d !important;
}

.table-striped-even tr:nth-child(even) {
  background: rgba(0,0,0,.03)
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #5657df;
  border-color: #5657df;
}

.btn-primary:hover {
  background-color: #4646b4;
  border-color: #4646b4;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #6060fc;
  border-color: #6060fc;
}

.btn-light {
  background-color: #eeeeee;
}

.simple-wheel-canvas {
  width: 70%;
  transform: rotate(90deg);
}
